$body-bgcolor: yellowgreen;
$theme-colors: (
    "info": tomato,
    "danger": teal
);
//@import "../../node_modules/bootstrap/scss/bootstrap.scss";
// @import "~bootstrap/scss/bootstrap";
//@import "~/bootstrap";

body {
    background-color: $body-bgcolor;
}

#footer {
    background-color: #fff;
    padding: 20px 0px;
}
#footer p {
    margin: 0px;
}